*.rsa
*.pub
.DS_Store
secret
vendor
test.sh
.envrc
run.sh
benchmark.csv
run-with-local.sh
tools/migrate-refresh-tokens/.env
.idea

# Compiled binaries
user-management-service-app
key-generator
create-admin-user
weekday-assign
__debug_bin*